<!DOCTYPE html>
<html lang="en" ng-app="grillApp" ng-controller="MainController">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Harvard dining grill order administrator page"/>
    <meta name="author" content="Jovin Mwilanga"/>

    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">

    <!--animate.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"/>

    <!--loads font awesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <!--angular loading bar css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.css"/>

    <!--toastr-->
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">

    <!-- loads custom css files -->
    <link rel="stylesheet" href="/public/css/cards.css">
    <link rel="stylesheet" href="/public/css/admin/admin_main.css">

    <!--google analytics-->
    <script>
        //trying to exclude localhost
        if (document.location.hostname.search("harvardgrill") !== -1) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58209445-2', 'auto');
            <%- gAnalyticsUserId %>
            ga('require', 'linkid', 'linkid.js');
        }
    </script>

    <title>HarvardGrill - Admin</title>

</head>
<body>
<!--toast notifications-->
<toast></toast>
<!--end of toast-->

<!--start of nav-->
<div class="ng-cloak">
    <div admin-top-nav></div>
</div>
<!--end of nav-->

<div class="container ng-cloak">
    <div ng-class="bannerClass"
         ng-if="showBanner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{bannerMessage}}</strong>
    </div>
</div>


<div class="container ng-cloak">
    <div ui-view></div>
</div>


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Bootstrap.js -->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--AngularJS-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>

<!--angular ui bootstrap-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<!--angular analytics-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>

<!--angular loading bar js-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

<!--angular-ui-router-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

<!--toastr js-->
<script src="/bower_components/toastr/toastr.min.js"></script>

<!--moment js-->
<script type="text/javascript"
        src="/bower_components/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript"
        src="/bower_components/moment/min/moment.min.js"></script>


<script type="text/javascript" src="/public/js/admin/admin.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/grillApp.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/filters.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/globals.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/socketIoServices.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/mainFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/editFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/statusService.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/services/referenceFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/mainCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/navBarCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/incomingCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/grillStatusCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/ModalInstanceCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/directives.js"></script>
<script type="text/javascript" src="/public/angular_assets/grillApp/admin/controllers/editViewCtrl.js"></script>


</body>
</html>