<div ng-controller="NavBarController"
     class="ng-cloak">

    <!--start of desktop nav view-->
    <nav class="navbar navbar-default navbar-fixed-top hidden-xs"
         id="desk-nav-header"
         role="navigation">
        <div class="container">
            <a href="/admin.html"
               class="navbar-brand"
               id="brand-name">
                <i class="fa fa-spoon"></i>
                {{grillName}}
            </a>

            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="edit"><i class="fa fa-pencil"></i> Edit</a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       target="_self"
                       class="dropdown-toggle" data-toggle="dropdown">
                        Admin
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled">
                            <a href="#"
                               target="_self">Logout from
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               ng-click="logoutAdminSession()">Session
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               target="_self"
                               ng-click="logoutAdminFull()">Harvard
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--end of desktop nav view-->

    <!--start of mobile nav view-->
    <div class="navbar navbar-default navbar-fixed-top visible-xs"
         id="mobile_nav_header"
         role="navigation">

        <div class="navbar-header">

            <a href="/admin.html"
               class="navbar-brand"
               id="brand-name2">
                <i class="fa fa-spoon"></i>
                HarvardGrill
            </a>

        </div>
    </div>

    <ul class="nav nav-tabs visible-xs">

        <li ui-sref-active="active"
            class="mobile_nav_tabs col-xs-4">
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li ui-sref-active="active"
            class="mobile_nav_tabs col-xs-4">
            <a ui-sref="edit"><i class="fa fa-pencil"></i> Edit</a>
        </li>

        <li class="dropdown mobile_nav_tabs col-xs-4">

            <a href="#"
               target="_self"
               class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{username}} <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">

                <li class="disabled">
                    <a href="#"
                       target="_self">Logout from
                    </a>
                </li>
                <li>
                    <a href="#"
                       target="_self"
                       ng-click="logoutAdminSession()">Session
                    </a>
                </li>
                <li>
                    <a href="#"
                       target="_self"
                       ng-click="logoutAdminFull()">Harvard
                    </a>
                </li>

            </ul>

        </li>
    </ul>

    <!--end of mobile nav view-->

</div>