<!DOCTYPE html>
<html lang="en" ng-app="clientLoginApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Harvard Grill Website"/>
    <meta name="author" content="Jovin Mwilanga"/>
    <link rel="author" href="https://plus.google.com/+JovinMwilanga"/>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">

    <!--animate.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css"/>

    <!--loads font awesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <!--angular loading bar css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.css"/>

    <!--normalize.css-->
    <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css"/>

    <!--toastr-->
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">

    <!-- loads custom css files -->
    <link rel="stylesheet" href="/public/css/client/client_cards.css">
    <link rel="stylesheet" href="/public/css/client/client_login.css">

    <!--google analytics-->
    <script>
        //trying to exclude localhost
        if (document.location.hostname.search("harvardgrill") !== -1) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58209445-2', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');
        }
    </script>


    <title>HarvardGrill - Login</title>
</head>

<body>

<!--toast notifications-->
<toast></toast>
<!--end of toast-->


<!--start of nav-->
<div class="navbar navbar-default navbar-fixed-top ng-cloak"
     ng-controller="NavBarController">
    <div class="container">
        <div class="navbar-header">
            <!--button to target the navbar-right which will appear on collapse of navbar items-->
            <button type="button" class='navbar-toggle collapsed' data-toggle="collapse"
                    data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="fa fa-spoon"></i>
                HarvardGrill
            </a>
        </div>

        <!--this navbar will be collapsed on mobile-->
        <div class="collapse navbar-collapse navHeaderCollapse ng-cloak">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://my.harvard.edu" target="_blank">my.harvard.edu</a></li>
                <li><a href="https://canvas.harvard.edu/" target="_blank">Canvas</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{myUsername}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href ng-click="logoutClientFull()">Logout from Harvard
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end of nav-->


<!--start of jumbotron-->
<div class='container ng-cloak'>

    <!--the text-center class centers everything in it-->
    <div class="jumbotron text-center">

        <h1 class="jumbo-header"><strong>GRILL ORDER //</strong></h1>

        <p class="jumbo-quote"><strong>Lunch &amp; Dinner</strong>
        </p>

        <a class="btn btn-default"><i class="fa fa-info-circle"></i> About Us</a>
        <a class="btn btn-default"><i class="fa fa-question"></i> Terms of Service</a>

    </div>

</div>
<!--end of jumbotron-->

<!--start of client info login form-->
<div class="container ng-cloak"
     ng-if="isFullyRegistered">

    <div ng-class="bannerClass"
         ng-if="showBanner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{bannerMessage}}</strong>
    </div>

    <!--data-dv attributes for bootstrap validator plugin-->
    <form name="clientLoginForm"
          id="clientLoginForm">

        <!--&lt;!&ndash;Username field&ndash;&gt;-->
        <!--<div class="form-group ng-cloak">-->
        <!--<label for="username">Username</label>-->
        <!--<input type="text"-->
        <!--class="form-control"-->
        <!--id="username"-->
        <!--placeholder="Enter your username here"-->
        <!--ng-model="masterClientLoginForm.username"-->
        <!--ng-minlength="4"-->
        <!--ng-maxlength="15"-->
        <!--ng-pattern="/^[a-zA-Z0-9_]*$/"-->
        <!--required-->
        <!--ng-disabled="isLoading || universalDisable"-->
        <!--name="username">-->
        <!--<span ng-show="clientLoginForm.username.$error.required">-->
        <!--<small>This is a required field:</small>-->
        <!--</span>-->
        <!--<span ng-show="clientLoginForm.username.$error.minlength">-->
        <!--<small>Minimum length required is 4:</small>-->
        <!--</span>-->
        <!--<span ng-show="clientLoginForm.username.$error.maxlength">-->
        <!--<small>Minimum length required is 15:</small>-->
        <!--</span>-->
        <!--<span ng-show="clientLoginForm.username.$error.pattern">-->
        <!--<small>Only letters, numbers and underscores allowed:</small>-->
        <!--</span>-->
        <!--</div>-->

        <h1>Hello @{{myUsername}}</h1>

        <p><strong>Please select one dining</strong></p>

        <div ng-repeat="(grillName, grillStatus) in allGrillStatusesModel"
             class="form-group clearfix ng-cloak">

            <div class="alert alert-success col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 ng-if="grillStatus.grillStatus == 'open'"
                 ng-click="selectGrill(grillName)">
                <input type="checkbox"
                       ng-disabled="isLoading || universalDisable"
                       ng-model="grillStatus.isSelected"
                       ng-true-value="'yes'"
                       ng-false-value="'no'"
                       ng-click="selectGrill(grillName)"> <strong>{{grillName}}:</strong> Open
            </div>

            <div class="alert alert-warning col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 ng-if="grillStatus.grillStatus == 'closed'"
                 ng-click="selectGrill(grillName)">
                <input type="checkbox"
                       ng-disabled="isLoading || universalDisable"
                       ng-model="grillStatus.isSelected"
                       ng-true-value="'yes'"
                       ng-false-value="'no'"
                       ng-click="selectGrill(grillName)"> <strong>{{grillName}}:</strong> Closed
            </div>
        </div>

        <!--client password field-->
        <div class="form-group ng-cloak"
             ng-if="oneGrillIsSelected">
            <label for="clientPassword">Password</label>
            <input type="password"
                   name="password"
                   class="form-control"
                   id="clientPassword"
                   placeholder="Enter password here"
                   ng-model="masterClientLoginForm.password"
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable">
                    <span ng-show="clientLoginForm.password.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span ng-show="clientLoginForm.password.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span ng-show="clientLoginForm.password.$error.maxlength">
                        <small>Minimum length required is 20:</small>
                    </span>
                    <span ng-show="clientLoginForm.password.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
        </div>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-default btn-danger btn-lg btn-block"
                    ng-disabled="clientLoginForm.$invalid || !oneGrillIsSelected || isLoading || universalDisable"
                    ng-click="submitClientLoginForm()"
                    id="harvardID">LOGIN
            </button>
        </div>
    </form>
</div>
<!--end of client info login form-->


<!--start of client registration form-->
<div class="container ng-cloak"
     ng-if="!isFullyRegistered">

    <div ng-class="registrationBannerClass"
         ng-if="showRegistrationBanner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{registrationBannerMessage}}</strong>
    </div>

    <p>Welcome: Please updated your details. Everything listed here is required</p>

    <!--data-dv attributes for bootstrap validator plugin-->
    <form name="clientRegistrationForm"
          id="clientRegistrationForm">

        <!--DisplayName field-->
        <div class="form-group ng-cloak">
            <label for="displayName">Name</label>
            <input type="text"
                   class="form-control"
                   id="displayName"
                   placeholder="Enter your name here"
                   ng-model="registrationDetails.displayName"
                   ng-minlength="4"
                   ng-maxlength="30"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="displayName">
            <span ng-show="clientRegistrationForm.displayName.$error.required">
                <small>This is a required field:</small>
            </span>
            <span ng-show="clientRegistrationForm.displayName.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span ng-show="clientRegistrationForm.displayName.$error.maxlength">
                <small>Minimum length required is 30:</small>
            </span>
        </div>

        <!--Username field-->
        <div class="form-group ng-cloak">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="Enter your username here"
                   ng-model="registrationDetails.username"
                   ng-minlength="4"
                   ng-maxlength="15"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="username">
            <span ng-show="clientRegistrationForm.username.$error.required">
                <small>This is a required field:</small>
            </span>
            <span ng-show="clientRegistrationForm.username.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span ng-show="clientRegistrationForm.username.$error.maxlength">
                <small>Minimum length required is 15:</small>
            </span>
            <span ng-show="clientRegistrationForm.username.$error.pattern">
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
        </div>

        <!--Email field-->
        <div class="form-group ng-cloak">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   placeholder="Enter your email here"
                   ng-model="registrationDetails.email"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="email">
            <span ng-show="clientRegistrationForm.email.$error.required">
                <small>This is a required field:</small>
            </span>
            <span ng-show="clientRegistrationForm.email.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span ng-show="clientRegistrationForm.email.$error.maxlength">
                <small>Minimum length required is 15:</small>
            </span>
            <span ng-show="clientRegistrationForm.email.$error.pattern">
                <small>Email: you@example.com</small>
            </span>
        </div>


        <!--password update field-->
        <div class="form-group ng-cloak">
            <label for="clientUpdatePassword1">Password</label>
            <input type="password"
                   name="password1"
                   class="form-control"
                   id="clientUpdatePassword1"
                   placeholder="Enter password here"
                   ng-model="registrationDetails.password1"
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable">
                    <span ng-show="clientRegistrationForm.password1.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password1.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password1.$error.maxlength">
                        <small>Minimum length required is 20:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password1.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
        </div>

        <div class="form-group ng-cloak">
            <label for="clientUpdatePassword2">Confirm Password</label>
            <input type="password"
                   name="password2"
                   class="form-control"
                   id="clientUpdatePassword2"
                   placeholder="Enter password here"
                   ng-model="registrationDetails.password2"
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable">
                    <span ng-show="clientRegistrationForm.password2.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password2.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password2.$error.maxlength">
                        <small>Minimum length required is 20:</small>
                    </span>
                    <span ng-show="clientRegistrationForm.password2.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
        </div>

        <!--button for just updating the user details, not the password-->
        <div class="form-group ng-cloak"
             ng-if="!registrationDetails.updatePassword">
            <button type="submit"
                    class="btn btn-default btn-danger btn-lg btn-block"
                    ng-disabled="clientRegistrationForm.$invalid || isLoading || universalDisable"
                    ng-click="submitUpdatedDetails()"
                    id="harvardID">LOGIN
            </button>
        </div>

        <!--button for updating user details and password for the first time-->
        <div class="form-group ng-cloak"
             ng-if="registrationDetails.updatePassword">
            <button type="submit"
                    class="btn btn-default btn-danger btn-lg btn-block"
                    ng-disabled="registrationDetails.password1 != registrationDetails.password2 || clientRegistrationForm.$invalid || isLoading || universalDisable"
                    ng-click="submitUpdatedDetails()"
                    id="harvardID">LOGIN
            </button>
        </div>
    </form>
</div>
<!--end of client registration form-->

<!--footer 1 for large screens-->
<div class="text-center navbar navbar-default navbar-fixed-bottom hidden hidden-xs hidden-sm">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3">
                <p class="footer_group_heading">Contact Us</p>
                <ul class="list-unstyled">
                    <li><a href="mailto:admin@harvardgrill.com">admin@harvardgrill.com</a></li>
                    <li><a href="mailto:help@harvardgrill.com">help@harvardgrill.com</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Who we are</p>
                <ul class="list-unstyled">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Coverage</p>
                <ul class="list-unstyled">
                    <li><a href="#">Undergraduate</a></li>
                    <li><a href="#">Graduate</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Developers</p>
                <ul class="list-unstyled">
                    <li><a href="#">Product Help</a></li>
                    <li><a href="#">Developer API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2015 HarvardGrill</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="https://www.linkedin.com/in/jovinmwilanga/" target="_blank">2015 jbm Harvard '18</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end of footer 1 for large screens-->

<!--start of footer 2 for small screens-->
<div class='navbar navbar-default navbar-fixed-bottom visible-xs visible-sm'>
    <div class="container">
        <p class="navbar-text pull-left">
            <i class="fa fa-copyright"></i> 2015 jbm
            <a href="https://www.google.com/+JovinMwilanga" target="_blank">
                <i class="fa fa-google-plus-square"></i>
            </a>
            <a href="https://twitter.com/jovinbm" target="_blank">
                <i class="fa fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/jovinmwilanga/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </p>

        <div class="pull-right">
            <a class="navbar-btn btn btn-primary btn-xs" href="mailto:admin@harvardgrill.com">Contact</a>
        </div>
    </div>
</div>
<!--end of footer 2 for small screens-->


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--AngularJS SCRIPTS-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-route.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-sanitize.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<!--angular analytics-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>


<!-- Bootstrap.js -->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--angular loading bar js-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

<!--angular-ui-router-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

<!--text angular-->
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>

<!--toastr js-->
<script src="/bower_components/toastr/toastr.min.js"></script>

<!--moment js-->
<script type="text/javascript"
        src="/bower_components/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript"
        src="/bower_components/moment/min/moment.min.js"></script>

<script type="text/javascript" src="/public/js/client/client_login.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/clientLoginApp.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/directives.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/filters.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/services/socketIoService.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/services/mainFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/services/logoutFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/services/globals.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/services/referenceFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/controllers/mainCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/loginApp/client/controllers/navBarCtrl.js"></script>

</body>
</html>