<!DOCTYPE html>
<html lang="en" ng-app="indexApp" ng-controller="MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <meta name="description" content="Harvard Grill Website"/>
    <meta name="author" content="Jovin Mwilanga"/>
    <link rel="author" href="https://plus.google.com/+JovinMwilanga"/>

    <!--bootstrap-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">

    <!--loads font awesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">


    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- loads custom css file -->
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/index/index.css">

    <!--custom css for small devices-->
    <link rel="stylesheet"
          media="only screen and (max-width: 767px)"
          href="/public/css/index/index_xs.css"/>

    <!--google analytics-->
    <script>
        //trying to exclude localhost
        if (document.location.hostname.search("harvardgrill") !== -1) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58209445-2', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('send', 'pageview');
        }
    </script>

    <title>HarvardGrill - Login</title>
</head>

<body>

<!--start of nav-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--button to target the navbar-right which will appear on collapse of navbar items-->
            <button type="button" class='navbar-toggle collapsed' data-toggle="collapse"
                    data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="fa fa-spoon"></i>
                HarvardGrill
            </a>
        </div>

        <!--this navbar will be collapsed on mobile-->
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#services" target="_self">Services</a>
                </li>
                <li>
                    <a href="#contact" target="_self">Contact</a>
                </li>
                <li>
                    <a href="#terms" target="_self">Terms</a>
                </li>
                <li><a href="#login" target="_self">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--end of nav-->

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">GRILL ORDER //</div>
            <div class="intro-heading">Lunch &amp; Dinner</div>
            <a href="#login" target="_self" class="btn btn-xl">LOG IN</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>

                <h3 class="section-subheading text-muted">OUR USERS ENJOY A DIVERSE ARRAY OF SERVICES.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">ORDER ONLINE</h4>

                <p class="text-muted">Place your orders online from your comfort zone. Anytime, Anywhere!</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Profiling</h4>

                <p class="text-muted">Keep an eye on what you eat. Enjoy personal records and keep track of the number
                    of calories you eat every meal</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Catering</h4>

                <p class="text-muted">Whether it's a birthday party, or a graduation ceremony, we'll help you make it a
                    unique and memorable event.</p>
            </div>
        </div>
    </div>
</section>


<section id="login">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign In</h2>
            </div>
        </div>

        <div class="row">
            <div class="container text-center">
                <div class="col-lg-12 text-center">

                    <form action="/harvardId/login"
                          method="post"
                          id="harvardIdLoginForm">

                        <input type="hidden" name="openid_identifier" value="https://id.cs50.net/"/>

                        <button type="submit" class="btn btn-default btn-danger btn-lg" id="harvardID">Log in with
                            Harvard
                            PIN
                        </button>
                    </form>
                    <div class="local_login_heading">
                        OR
                    </div>

                    <div ng-class="bannerClass"
                         class="ng-cloak"
                         ng-if="showBanner">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{bannerMessage}}</strong>
                    </div>

                    <!--data-dv attributes for bootstrap validator plugin-->
                    <form name="localLoginForm"
                          id="localLoginForm">

                        <!--Username field-->
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="Enter your username here"
                                   ng-model="masterLocalLoginForm.username"
                                   ng-minlength="4"
                                   ng-maxlength="10"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="isLoading || universalDisable"
                                   name="username">
                            <span class="form-error-notice" ng-show="localLoginForm.username.$error.required">
                                <small>This is a required field:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.username.$error.minlength">
                                <small>Minimum length required is 4:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.username.$error.maxlength">
                                <small>Maximum length required is 10:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.username.$error.pattern">
                                <small>Only letters, numbers and underscores allowed:</small>
                            </span>
                        </div>

                        <!--password field-->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Enter password here"
                                   ng-model="masterLocalLoginForm.password"
                                   ng-minlength="4"
                                   ng-maxlength="20"
                                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                                   required
                                   ng-disabled="isLoading || universalDisable">
                            <span class="form-error-notice" ng-show="localLoginForm.password.$error.required">
                                <small>This is a required field:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.password.$error.minlength">
                                <small>Minimum length required is 4:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.password.$error.maxlength">
                                <small>Maximum length required is 20:</small>
                            </span>
                            <span class="form-error-notice" ng-show="localLoginForm.password.$error.pattern">
                                <small>Only letters, numbers and underscores allowed:</small>
                            </span>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-default btn-danger btn-lg btn-block"
                                    ng-disabled="localLoginForm.$invalid"
                                    ng-click="submitLocalLoginForm()">SIGN IN
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>

                <h3 class="section-subheading text-muted">We are here for you.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm">
                    <div class="row">
                        <div class="container text-center">
                            <div class="col-lg-12 text-center">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; HarvardGrill 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- JAVASCRIPT -->

<!-- socket.io javascript -->
<script type="text/javascript" src="socket.io/socket.io.js"></script>

<!-- jquery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!--AngularJS SCRIPTS-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-route.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-sanitize.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

<!--angular analytics-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angulartics/0.17.2/angulartics-ga.min.js"></script>


<!-- Bootstrap.js -->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!--angular loading bar js-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.6.0/loading-bar.min.js"></script>

<!-- loads respond.js: enables responsive web designs in browsers that don't support CSS3 Media Queries - in particular, Internet Explorer 8 and under. -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

<!--angular-ui-router-->
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>

<!--text angular-->
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>

<!--toastr js-->
<script src="/bower_components/toastr/toastr.min.js"></script>

<!--moment js-->
<script type="text/javascript"
        src="/bower_components/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript"
        src="/bower_components/moment/min/moment.min.js"></script>

<script type="text/javascript" src="/public/js/local_login/local_login.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/indexApp.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/directives.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/filters.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/controllers/mainCtrl.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/services/socketIoService.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/services/mainFactory.js"></script>
<script type="text/javascript" src="/public/angular_assets/indexApp/services/globals.js"></script>

</body>
</html>