/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*defaults*/
html {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 70px;
    font-size: 12px;
}

.text-outputs {
    word-wrap: break-word;
}

/*columns*/
.column-heading {
    font-size: 17px;
}

#brand-name {
    font-size: 18px;
}

/*input field/moda i.e. textwrangler*/
.ta-editor {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

/*alerts*/
.alert-new-post-sentence:hover {
    text-decoration: none;
}

/*buttons*/
.btn {
    font-size: 10px;
}

.btn.pull-right {
    margin-right: 3px;
}

/*card heading styling*/
.card-content > h2, .card-content > h3 {
    font-size: 20px;
}

/*edit view page*/
.edit-section > h4 {
    font-size: 1.2em;
}