/*cross site css*/

/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*columns*/
.column-heading {
    font-size: 1.5em;
    margin-top: 1.5em;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

.col_no_padding {
    padding-left: 0;
}

/*forms*/
.form-error-notice {
    color: rgb(169, 68, 66);
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
}

.card_date {
    font-size: 1.5em;
}

.card_content_main_heading {
    font-size: 1.5em;
}

.heading_1_2 {
    font-size: 1.2em;
}

.margin_t_p_0_5 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.col_no_padding {
    padding-left: 0;
}

div.alert.alert-success, div.alert.alert-warning, div.alert.alert-info {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.center_text {
    text-align: center;
}