<div>
    <div class="modal-header">
        <h3 class="modal-title">Please confirm the available below</h3>
    </div>
    <div class="modal-body ng-cloak">

        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>To update what's available, please check/un-check the items below and click UPDATE</p>
        </div>

        <div class="ng-cloak">
            <h6>Order Components</h6>

            <div ng-if="allOrderComponents.length == 0">
                <small>No Order Components added</small>
            </div>

            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allOrderComponents">
                    <input type="checkbox"
                           ng-disabled="isLoading || universalDisable"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeConfirmModalDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div class="ng-cloak">
            <h6>Omelets</h6>

            <div ng-if="allOmelets.length == 0">
                <small>No Omelets added</small>
            </div>

            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allOmelets">
                    <input type="checkbox"
                           ng-disabled="isLoading || universalDisable"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeConfirmModalDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div class="ng-cloak">
            <h6>Extras</h6>

            <div ng-if="allExtras.length == 0">
                <small>No Extras added</small>
            </div>

            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allExtras">
                    <input type="checkbox"
                           ng-disabled="isLoading || universalDisable"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeConfirmModalDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div class="ng-cloak">
            <h6>Weekly Specials</h6>

            <div ng-if="allWeeklySpecials.length == 0">
                <small>No Weekly Specials added</small>
            </div>

            <div class="pull-right ng-cloak"
                 ng-if="allWeeklySpecials.length > 1">
                <a href ng-click="unSelectAllWeeklySpecials()"
                   class="btn btn-default btn-sm">Unselect All
                </a>
            </div>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allWeeklySpecials">
                    <input type="checkbox"
                           ng-disabled="isLoading || universalDisable"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="weeklySpecialRadioChange(component.componentIndex)"> {{component.name}}

                </li>
            </ul>
        </div>

        <div class="alert alert-warning ng-cloak"
             ng-if="confirmModalIsDirty == true">
            <p>You have made changes to what's available above. Please click UPDATE below to save changes when
                done</p>
        </div>

        <div class="alert alert-warning ng-cloak"
             ng-if="allOrderComponents.length < 1 && allOmelets.length < 1 && allWeeklySpecials.length > 1 && allExtras.length > 1">
            <p>At least one item should be available before opening the grill. Please proceed to the edit page to add
                items</p>
        </div>

    </div>

    <div class="modal-footer ng-cloak">
        <button class="btn btn-info"
                ng-click="updateAvailableComponents()"
                ng-disabled="isLoading || confirmModalIsDirty == false || universalDisable">UPDATE AVAILABLE
        </button>
        <button class="btn btn-warning"
                ng-click="cancel()"
                ng-disabled="isLoading || universalDisable">Cancel
        </button>
        <button class="btn btn-primary"
                ng-click="ok()"
                ng-disabled="isLoading || confirmModalIsDirty == true || universalDisable || (allOrderComponents.length < 1 && allOmelets.length < 1 && allWeeklySpecials.length > 1 && allExtras.length > 1)">
            Open Grill
        </button>
    </div>

</div>