<div class="card">
    <div class="card-content">
        <h2>Available Orders</h2>

        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>To update what's available to order today, please check/un-check the items below and click UPDATE</p>
        </div>

        <div>
            <h6>Order Components</h6>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allOrderComponents">
                    <input type="checkbox"
                           ng-disabled="isLoading"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeAvailableCardDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div>
            <h6>Omelets</h6>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allOmelets">
                    <input type="checkbox"
                           ng-disabled="isLoading"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeAvailableCardDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div>
            <h6>Extras</h6>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allExtras">
                    <input type="checkbox"
                           ng-disabled="isLoading"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="makeAvailableCardDirty()"> {{component.name}}
                </li>
            </ul>
        </div>

        <div>
            <h6>Weekly Specials</h6>

            <div class="pull-right">
                <a href ng-click="unSelectAllWeeklySpecials()"
                   class="btn btn-default btn-sm">Unselect All
                </a>
            </div>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix"
                    ng-repeat="component in allWeeklySpecials">
                    <input type="checkbox"
                           ng-disabled="isLoading"
                           ng-model="component.available"
                           ng-true-value="'yes'"
                           ng-false-value="'no'"
                           ng-click="weeklySpecialRadioChange(component.componentIndex)"> {{component.name}}

                </li>
            </ul>
        </div>

        <div class="alert alert-warning"
             ng-if="availableCardIsDirty == true">
            <p>You have made changes to what's available above. Please click UPDATE below to save changes when done</p>
        </div>

    </div>

    <div class="card-action clearfix">

        <div class="pull-right">
            <a href ng-click="updateAvailableComponents()"
               ng-disabled="isLoading"
               class="btn btn-info btn-md">
                Update
            </a>
        </div>
    </div>
</div>