<div class="card">
    <div class="card-content">
        <h2>Available Orders</h2>

        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>To update what's available to order today, please check/un-check the items below and click UPDATE</p>
        </div>

        <div>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix">
                    <i class="fa fa-spoon"></i> Chicken Breast
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Halal Hotdog
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Hot dog
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Beet &amp; Kale Burger - vgn
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Sweet Potato &amp; Black Bean Burger - vgn
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Grilled Cheddar Cheese Sandwich - v
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Cage-Free Eggs - v
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Turkey Burger
                </li>
                <li class="list-unstyled">
                    <i class="fa fa-spoon"></i> Egg Whites -v
                </li>
            </ul>
        </div>

        <div>
            <h6>Omelets</h6>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix">
                    <i class="fa fa-spoon"></i> Ham &amp; Cheese
                </li>
                <li class="list-unstyled clearfix">
                    <i class="fa fa-spoon"></i> Peppers &amp; Onion - v
                </li>
                <li class="list-unstyled clearfix">
                    <i class="fa fa-spoon"></i> Tomato &amp; Mushroom - v
                </li>
            </ul>
        </div>

        <div>
            <h6>Weekly Special</h6>
            <ul class="list-unstyled">
                <li class="list-unstyled clearfix">
                    <i class="fa fa-spoon"></i> Veritaffles
                </li>
            </ul>
        </div>

    </div>

    <div class="card-action clearfix">

        <div class="pull-right">
            <a href="#" class="btn btn-primary btn-md">
                Update
            </a>
        </div>
    </div>
</div>