<div class="card ng-cloak">

    <div class="card-content ng-cloak">
        <h2 class="card_date">{{currentTime}}</h2>

        <ul class="list-unstyled"
            ng-if="currentGrillStatus.grillStatus == 'open'">
            <li class="list-unstyled clearfix">
                <strong>Total Orders: </strong>{{currentGrillStatus.totalOrders}}
            </li>
            <li class="list-unstyled clearfix">
                <strong>Total Processed: </strong>{{currentGrillStatus.totalProcessedOrders}}
            </li>
            <li class="list-unstyled clearfix">
                <strong>Total Declined: </strong>{{currentGrillStatus.totalDeclinedOrders}}
            </li>
            <li class="list-unstyled clearfix">
                <strong>Total Remaining: </strong>
                {{currentGrillStatus.totalOrders - currentGrillStatus.totalProcessedOrders -
                currentGrillStatus.totalDeclinedOrders}}
            </li>
        </ul>

    </div>

    <div class="card-action clearfix ng-cloak">
        <div class="alert alert-info ng-cloak"
             ng-if="currentGrillStatus.grillStatus != 'open' && currentGrillStatus.grillStatus != 'closed'">
            <p><strong>Checking grill status...</strong></p>
        </div>
        <div ng-class="grillStatusReference.grillStatusAlertClass">
            <strong>Grill status:</strong> {{grillStatusReference.grillStatusAlertText}}
        </div>

        <div class="pull-right ng-cloak">
            <a href="#"
               ng-class="grillStatusReference.openCloseClass"
               ng-disabled="isLoading || universalDisable"
               ng-click="openCloseGrill()">{{grillStatusReference.openCloseText}}
            </a>
        </div>
    </div>
</div>