<div class="card main-order-card ng-cloak">

    <div class="card-content clearfix"
         ng-if="myRecentOrders[0].status != 'processing'">

        <div class="ng-cloak">
            <h1><strong>{{currentTime}}</strong></h1>

            <h4><strong>Grill order //</strong>
                <small>Lunch &amp; Dinner</small>
            </h4>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <h6>Order Components</h6>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ng-cloak"
                 ng-repeat="component in availableOrderComponents">
                <div>
                    <label>
                        <input type="checkbox"
                               ng-disabled="isLoading || universalDisable"
                               ng-model="myNewOrder[component.componentIndex]['isSelected']"
                               ng-true-value="'yes'"
                               ng-false-value="'no'"> {{component.name}}
                    </label>
                </div>
            </div>

        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <h6>Omelets</h6>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ng-cloak"
                 ng-repeat="component in availableOmelets">
                <div>
                    <label>
                        <input type="checkbox"
                               ng-disabled="isLoading || universalDisable"
                               ng-model="myNewOrder[component.componentIndex]['isSelected']"
                               ng-true-value="'yes'"
                               ng-false-value="'no'"> {{component.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <h6>Extras</h6>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ng-cloak"
                 ng-repeat="component in availableExtras">
                <div>
                    <label>
                        <input type="checkbox"
                               ng-disabled="isLoading || universalDisable"
                               ng-model="myNewOrder[component.componentIndex]['isSelected']"
                               ng-true-value="'yes'"
                               ng-false-value="'no'"> {{component.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <h6>Weekly Special</h6>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ng-cloak"
                 ng-repeat="component in availableWeeklySpecials">
                <div>
                    <label>
                        <input type="checkbox"
                               ng-disabled="isLoading || universalDisable"
                               ng-model="myNewOrder[component.componentIndex]['isSelected']"
                               ng-true-value="'yes'"
                               ng-false-value="'no'"> {{component.name}}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
            <h6><strong>CONFIRM</strong></h6>

            <div class="table-responsive clearfix">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="component in availableOrderComponents"
                        ng-if="myNewOrder[component.componentIndex]['isSelected'] == 'yes'">
                        <td>{{component.name}} x {{myNewOrder[component.componentIndex]['quantity']}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="increaseComponentQuantity(component.componentIndex)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="decreaseComponentQuantity(component.componentIndex)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="component in availableWeeklySpecials"
                        ng-if="myNewOrder[component.componentIndex]['isSelected'] == 'yes'">
                        <td>{{component.name}} x {{myNewOrder[component.componentIndex]['quantity']}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="increaseComponentQuantity(component.componentIndex)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-default"
                                    ng-click="decreaseComponentQuantity(component.componentIndex)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pull-right ng-cloak">
            <a type="button"
               class="btn btn-primary btn-md"
               ng-disabled="isLoading || universalDisable"
               ng-click="placeMyNewOrderOrder()">
                <i class="fa fa-spoon"></i> Order
            </a>
        </div>

    </div>

    <div class="card-content clearfix ng-cloak"
         ng-if="myRecentOrders[0].status == 'processing'">
        <div class="alert alert-warning">
            <strong>You are allowed to have only one order at a processing stage. Please wait until your current order
                has been processed to order again</strong>
        </div>
    </div>


</div>