<div class="card main-order-card">

    <div class="card-content clearfix">

        <div>
            <h1><strong>{{currentTime}}</strong></h1>

            <h4><strong>Grill order //</strong>
                <small>Lunch &amp; Dinner</small>
            </h4>
        </div>

        <div class="col-lg-12">
            <h6>Order Components</h6>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Chicken Breast
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Halal Hot dog
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Hot dog
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Beet &amp; Kale Burger - vgn
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Sweet Potato &amp; Black Bean Burger - vgn
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Grilled Cheddar Cheese Sandwich - v
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Weekly Special
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Cage-Free Eggs - v
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Turkey Burger <br/>
                        <small><i>blended with Brown Rice &amp; Vegetables</i></small>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Egg Whites -v <br/>
                        <input class="form-control input-sm"
                               type="text"
                               placeholder="What Style?">
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h6>Omelets</h6>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Ham &amp; Cheese
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Peppers &amp; Onion - v
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Tomato &amp; Mushroom - v
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h6>Extras</h6>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Add Fries
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Add Cheese
                    </label>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h6>Weekly Special</h6>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div>
                    <label>
                        <input type="checkbox"> Veritaffles
                    </label>
                </div>
            </div>
        </div>

        <div class="pull-right">
            <a type="button"
               class="btn btn-primary btn-md">
                <i class="fa fa-spoon"></i> Order
            </a>
        </div>

    </div>


</div>