<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1 class="column-heading"><i class="fa fa-list-alt"></i> MY RECENT ORDERS
    </h1>

    <ul class="list-unstyled animated fadeIn">
        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Sat March 7, 6:30 PM <br/>
                        <small>10 mins ago</small>
                    </h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="animated fade-in alert alert-dismissible alert-info">
                        <strong>Order status:</strong> Processing
                    </div>

                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs disabled">
                                    <span class="glyphicon glyphicon-star"
                                          aria-hidden="true"></span> Rate
                        </a>
                        <a href="#" class="btn btn-default btn-xs disabled">
                                    <span class="glyphicon glyphicon-heart"
                                          aria-hidden="true"></span> Favourite
                        </a>
                        <a href="#" class="btn btn-default btn-xs disabled">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Sat March 7, 5:30 PM
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br/>
                        <small>1 hr ago</small>
                    </h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hotdog</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="animated fade-in alert alert-dismissible alert-success">
                        <strong>Order status:</strong> Ready
                    </div>

                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-star"
                                          aria-hidden="true"></span> Rate
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-heart"
                                          aria-hidden="true"></span> Favourite
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Fri March 6, 10:30 AM</h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hotdog</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-star"
                                          aria-hidden="true"></span> Rate
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-heart"
                                          aria-hidden="true"></span> Favourite
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Thur March 6, 9:30 AM
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hotdog</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-star"
                                          aria-hidden="true"></span> Rate
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-heart"
                                          aria-hidden="true"></span> Favourite
                        </a>
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>