<h1 class="column-heading">
    <i class="fa fa-list-alt"></i> MY RECENT ORDERS
</h1>

<ul class="list-unstyled animated fadeIn">
    <li class="list-unstyled clearfix"
        ng-repeat="recentOrder in myRecentOrders">
        <div class="card">

            <div class="card-content">
                <h2>{{recentOrder.momentJsTime}}<br/>
                    <small>{{recentOrder.orderTime | timeago}}</small>
                </h2>

                <ul class="list-unstyled"
                    ng-repeat="componentIndex in recentOrder.orderComponents">
                    <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i>
                        {{allAvailableCombinedObject[componentIndex].name}}
                    </li>
                </ul>

            </div>

            <div class="card-action clearfix">
                <div class="alert alert-info"
                     ng-if="recentOrder.status == 'processing'">
                    <strong>Order status:</strong> Processing
                </div>

                <div class="alert alert-success"
                     ng-if="recentOrder.status == 'done'">
                    <strong>Order status:</strong> This order is ready
                </div>

                <small>This order is subject to changes depending on the current available components from the grill, or
                    decline
                    from the
                    grill Admin
                </small>

            </div>
        </div>
    </li>
</ul>
