<div class="col-lg-4 col-md-4 col-sm-5 hidden-xs">
    <h1 class="column-heading"><i class="fa fa-list-alt"></i> LIVE FEED
    </h1>

    <ul class="list-unstyled animated fadeIn">
        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Sat March 7, 6:20 PM <br/>
                        <small>20 mins ago</small>
                    </h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hotdog</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">

                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Sat March 7, 6:18 PM <br/>
                        <small>22 mins ago</small>
                    </h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Halal Hamburger</li>
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">

                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Fri March 6, 10:30 AM</h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Chicken Breast</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="btn-group btn-group-xs pull-right">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-spoon"></i> Order
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-unstyled clearfix">
            <div class="card">

                <div class="card-content">
                    <h2>Wed March 4, 11:30 AM</h2>

                    <ul class="list-unstyled">
                        <li class="list-unstyled clearfix"><i class="fa fa-spoon"></i> Weekly Special</li>
                    </ul>

                </div>

                <div class="card-action clearfix">
                    <a href="#" class="btn btn-default btn-xs pull-right">
                        <i class="fa fa-spoon"></i> Order
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>