<div class="container ng-cloak"
     ng-if="!isFullyRegistered && isFullyRegistered != 'loading'">

    <div ng-class="registrationBannerClass"
         ng-if="showRegistrationBanner">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{registrationBannerMessage}}</strong>
    </div>

    <p>Welcome: Please update your details. It takes 27.5 seconds. Everything listed here is required</p>

    <!--data-dv attributes for bootstrap validator plugin-->
    <form name="clientRegistrationForm"
          id="clientRegistrationForm">

        <!--FirstName field-->
        <div class="form-group ng-cloak">
            <label for="firstName">First name</label>
            <input type="text"
                   class="form-control"
                   id="firstName"
                   placeholder="Enter your first name here"
                   ng-model="registrationDetails.firstName"
                   ng-minlength="2"
                   ng-maxlength="30"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="firstName">
            <span class="form-error-notice" ng-show="clientRegistrationForm.firstName.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.firstName.$error.minlength">
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.firstName.$error.maxlength">
                <small>Maximum length required is 30:</small>
            </span>
        </div>

        <!--LastName field-->
        <div class="form-group ng-cloak">
            <label for="LastName">Last name</label>
            <input type="text"
                   class="form-control"
                   id="LastName"
                   placeholder="Enter your last name here"
                   ng-model="registrationDetails.lastName"
                   ng-minlength="2"
                   ng-maxlength="30"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="lastName">
            <span class="form-error-notice" ng-show="clientRegistrationForm.lastName.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.lastName.$error.minlength">
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.lastName.$error.maxlength">
                <small>Maximum length required is 30:</small>
            </span>
        </div>

        <!--Username field-->
        <div class="form-group ng-cloak">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="Enter your username here"
                   ng-model="registrationDetails.username"
                   ng-minlength="4"
                   ng-maxlength="10"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="username">
            <span class="form-error-notice" ng-show="clientRegistrationForm.username.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.username.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.username.$error.maxlength">
                <small>Maximum length required is 10:</small>
            </span>
            <span class="form-error-notice" ng-show="clientRegistrationForm.username.$error.pattern">
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
        </div>

        <!--Email field-->
        <div class="form-group ng-cloak">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   placeholder="Enter your email here"
                   ng-model="registrationDetails.email"
                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                   required
                   ng-disabled="isLoading || universalDisable"
                   name="email">
            <span class="form-error-notice" ng-show="clientRegistrationForm.email.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="adminRegistrationForm.email.$error.pattern">
                <small>This is not a valid email</small>
            </span>
        </div>


        <!--password update field-->
        <div class="form-group ng-cloak">
            <label for="clientUpdatePassword1">New Password</label>
            <input type="password"
                   name="password1"
                   class="form-control"
                   id="clientUpdatePassword1"
                   placeholder="Enter password here"
                   ng-model="registrationDetails.password1"
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable">
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password1.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password1.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password1.$error.maxlength">
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password1.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
        </div>

        <div class="form-group ng-cloak">
            <label for="clientUpdatePassword2">Confirm Password</label>
            <input type="password"
                   name="password2"
                   class="form-control"
                   id="clientUpdatePassword2"
                   placeholder="Enter password here"
                   ng-model="registrationDetails.password2"
                   ng-minlength="4"
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z0-9_]*$/"
                   required
                   ng-disabled="isLoading || universalDisable">
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password2.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password2.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password2.$error.maxlength">
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice" ng-show="clientRegistrationForm.password2.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
        </div>

        <!--button for just updating the user details, not the password-->
        <div class="form-group ng-cloak"
             ng-if="!registrationDetails.updatePassword">
            <button type="submit"
                    class="btn btn-default btn-danger btn-lg btn-block"
                    ng-disabled="clientRegistrationForm.$invalid || isLoading || universalDisable"
                    ng-click="submitUpdatedDetails()">UPDATE
            </button>
        </div>

        <!--button for updating user details and password for the first time-->
        <div class="form-group ng-cloak"
             ng-if="registrationDetails.updatePassword">
            <button type="submit"
                    class="btn btn-default btn-danger btn-lg btn-block"
                    ng-disabled="registrationDetails.password1 != registrationDetails.password2 || clientRegistrationForm.$invalid || isLoading || universalDisable"
                    ng-click="submitUpdatedDetails()">LOGIN
            </button>
        </div>
    </form>
</div>