<!--registration form-->
<div class="container ng-cloak">

    <div class="row">
        <div class="container">

            <div class="row text-center">
                <div>
                    <h4 class="section-heading-small-20 padding-top-20">Complete Registration</h4>
                </div>
            </div>

            <div class="col-lg-12">

                <div ng-class="registrationBannerClass"
                     ng-if="showRegistrationBanner">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{registrationBannerMessage}}</strong>
                </div>

                <div class="container">

                    <div class="row">
                        <form name="registrationForm"
                              id="registrationForm">

                            <!--Email field-->
                            <div class="form-group ng-cloak">
                                <label for="email">Email</label>
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="username@domain.com"
                                       ng-model="registrationDetails.email"
                                       ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                                       required
                                       ng-disabled="isLoading || universalDisable"
                                       name="email">
            <span class="form-error-notice" ng-show="registrationForm.email.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.email.$error.pattern">
                <small>This is not a valid email</small>
            </span>
                            </div>


                            <!--FirstName field-->
                            <div class="form-group ng-cloak">
                                <label for="firstName">First name</label>
                                <input type="text"
                                       class="form-control"
                                       id="firstName"
                                       placeholder="Jane"
                                       ng-model="registrationDetails.firstName"
                                       ng-minlength="2"
                                       ng-maxlength="30"
                                       required
                                       ng-disabled="isLoading || universalDisable"
                                       name="firstName">
            <span class="form-error-notice" ng-show="registrationForm.firstName.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.firstName.$error.minlength">
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.firstName.$error.maxlength">
                <small>Maximum length required is 30:</small>
            </span>
                            </div>

                            <!--LastName field-->
                            <div class="form-group ng-cloak">
                                <label for="LastName">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       id="LastName"
                                       placeholder="Doe"
                                       ng-model="registrationDetails.lastName"
                                       ng-minlength="2"
                                       ng-maxlength="30"
                                       required
                                       ng-disabled="isLoading || universalDisable"
                                       name="lastName">
            <span class="form-error-notice" ng-show="registrationForm.lastName.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.lastName.$error.minlength">
                <small>Minimum length required is 2:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.lastName.$error.maxlength">
                <small>Maximum length required is 30:</small>
            </span>
                            </div>

                            <!--Username field-->
                            <div class="form-group ng-cloak">
                                <label for="username">Public username</label>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       placeholder="JaneDoe"
                                       ng-model="registrationDetails.username"
                                       ng-minlength="4"
                                       ng-maxlength="10"
                                       ng-pattern="/^[a-zA-Z0-9_]*$/"
                                       required
                                       ng-disabled="isLoading || universalDisable"
                                       name="username">
            <span class="form-error-notice" ng-show="registrationForm.username.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.username.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.username.$error.maxlength">
                <small>Maximum length required is 10:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.username.$error.pattern">
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
                            </div>

                            <!--password field-->
                            <div class="form-group ng-cloak">
                                <label for="updatePassword1">New Password</label>
                                <input type="password"
                                       name="password1"
                                       class="form-control"
                                       id="updatePassword1"
                                       placeholder=""
                                       ng-model="registrationDetails.password1"
                                       ng-minlength="4"
                                       ng-maxlength="20"
                                       ng-pattern="/^[a-zA-Z0-9_]*$/"
                                       required
                                       ng-disabled="isLoading || universalDisable">
                    <span class="form-error-notice" ng-show="registrationForm.password1.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password1.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password1.$error.maxlength">
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password1.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
                            </div>

                            <!--confirm password-->
                            <div class="form-group ng-cloak">
                                <label for="updatePassword2">Confirm Password</label>
                                <input type="password"
                                       name="password2"
                                       class="form-control"
                                       id="updatePassword2"
                                       placeholder=""
                                       ng-model="registrationDetails.password2"
                                       ng-minlength="4"
                                       ng-maxlength="20"
                                       ng-pattern="/^[a-zA-Z0-9_]*$/"
                                       required
                                       ng-disabled="isLoading || universalDisable">
                    <span class="form-error-notice" ng-show="registrationForm.password2.$error.required">
                        <small>This is a required field:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password2.$error.minlength">
                        <small>Minimum length required is 4:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password2.$error.maxlength">
                        <small>Maximum length required is 20:</small>
                    </span>
                    <span class="form-error-notice" ng-show="registrationForm.password2.$error.pattern">
                        <small>Only letters, numbers and underscores allowed:</small>
                    </span>
                    <span class="form-error-notice"
                          ng-show="registrationDetails.password1 != registrationDetails.password2">
                        <small>Passwords do not match:</small>
                    </span>
                            </div>

                            <!--invitation code-->
                            <div class="form-group ng-cloak">
                                <label for="code">Invitation code</label>
                                <input type="password"
                                       class="form-control"
                                       id="code"
                                       ng-model="registrationDetails.invitationCode"
                                       ng-minlength="4"
                                       ng-maxlength="10"
                                       ng-pattern="/^[a-zA-Z0-9_]*$/"
                                       required
                                       ng-disabled="isLoading || universalDisable"
                                       name="invitationCode">
            <span class="form-error-notice" ng-show="registrationForm.invitationCode.$error.required">
                <small>This is a required field:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.invitationCode.$error.minlength">
                <small>Minimum length required is 4:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.invitationCode.$error.maxlength">
                <small>Maximum length required is 10:</small>
            </span>
            <span class="form-error-notice" ng-show="registrationForm.invitationCode.$error.pattern">
                <small>Only letters, numbers and underscores allowed:</small>
            </span>
                            </div>

                            <div class="form-group ng-cloak">
                                <button class="btn btn-default btn-danger btn-lg btn-block"
                                        ng-disabled="registrationForm.$invalid || isLoading || universalDisable"
                                        ng-click="completeAccountRegistration()">UPDATE
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>