/*angular js*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*forms*/
.form-error-notice {
    color: rgb(169, 68, 66);
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    font-size: 0.9em;
}

.col_no_padding {
    padding-left: 0;
}