body {
    padding-top: 70px;
    padding-bottom: 140px;
}

.jumbotron {
    background-image: url(/public/imgs/waffles-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbo-quote {
    color: #ffffff;
    text-shadow: black 0.3em 0.3em 0.3em;
}

h1.jumbo-header {
    color: #f5f5f5;
    text-shadow: black 0.3em 0.3em 0.3em;
}

/*removing table row borders*/
.table th, .table td {
    border-top: none !important;
}