<div class="row ng-cloak"
     ng-controller="EditViewController">

    <div ng-if="currentGrillStatus.grillStatus == 'open'"
         class="ng-cloak">
        <div class="alert alert-warning clearfix">
            <strong>The Grill is currently OPEN. The Grill should be closed first before adding or removing components.
                Please click the CLOSE GRILL button to change</strong>

            <div class="pull-right">
                <a href="#"
                   class="btn btn-md btn-primary"
                   ng-click="openCloseGrill()">{{grillStatusReference.openCloseText}}
                </a>
            </div>
        </div>
    </div>

    <div class="ng-cloak"
         ng-if="currentGrillStatus.grillStatus == 'closed'">
        <h4>
            ADD OR REMOVE ORDERS
        </h4>

        <div ng-if="currentGrillStatus.grillStatus == 'closed'"
             class="ng-cloak">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Heads up!</strong><br/>

                <p>1) There are 4 sections: <strong>Order Components, Omelets, Weekly Specials, and Extras</strong>.
                    Examples of
                    what goes into each are given. Please add each type to the specified section. <br/>
                    2) Note that this is the way the orders will appear on the client's side.
                </p>
            </div>

            <div class="ng-cloak">
                <h5><strong>Order Components</strong>
            <span>
                <small>e.g. Chicken Breast</small>
            </span>
                </h5>

                <!--order add form-->
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="orderComponentModel.inputText"
                           placeholder="Add Order (*not omelet, *not weekly special)"
                           aria-describedby="AddOrderComponentButton">
        <span class="input-group-addon"
              id="AddOrderComponentButton">
            <button class="btn btn-primary btn-md"
                    ng-disabled='!orderComponentModel.inputText || editViewReference.isInEditingMode || universalDisable'
                    ng-click="addOrderComponent()">ADD TO ORDERS
            </button>
        </span>
                </div>
                <!--end of order add form-->

                <!--start of available order components-->
                <h6>Available now</h6>

                <div class="table-responsive clearfix">
                    <table class="table table-striped table-hover ng-cloak">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="orderComponent in allOrderComponents">
                            <td>{{orderComponent.componentIndex}}</td>

                            <td ng-if="!editViewReference[orderComponent.componentIndex].componentEditingMode"
                                class="text-outputs">
                                {{orderComponent.name}}
                                <div class="pull-right">
                                    <button ng-class="editViewReference[orderComponent.componentIndex].editButtonClass"
                                            ng-click="editComponent(orderComponent.componentIndex)"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-pencil"></i> EDIT
                                    </button>
                                    <button ng-class="editViewReference[orderComponent.componentIndex].deleteButtonClass"
                                            ng-click="deleteComponent(orderComponent.componentIndex, 'oc')"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-times"></i> DELETE
                                    </button>
                                </div>
                            </td>

                            <td ng-if="editViewReference[orderComponent.componentIndex].componentEditingMode">

                                <!--order component edit form-->
                                <div class="input-group">

                                    <input type="text"
                                           class="form-control"
                                           ng-model="orderComponent.name"
                                           aria-describedby="EditOrderComponentButton">

                            <span class="input-group-addon" id="EditOrderComponentButton">

                                <button ng-class="editViewReference[orderComponent.componentIndex].cancelButtonClass"
                                        ng-click="cancelComponentEdit(orderComponent.componentIndex, 'oc')">
                                    CANCEL
                                </button>

                                <button ng-class="editViewReference[orderComponent.componentIndex].saveButtonClass"
                                        ng-disabled='!orderComponent.name || universalDisable'
                                        ng-click="saveEditedOrderComponent(orderComponent.componentIndex,orderComponent.name, 'oc');">
                                    SAVE
                                </button>

                            </span>
                                </div>
                                <!--end of order edit form-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--end of available order components-->
            </div>


            <section class="edit-section">

                <h5><strong>Omelets</strong>
            <span>
                <small>e.g. Ham &amp; Cheese</small>
            </span>
                </h5>


                <!--omelets add form-->
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="omeletModel.inputText"
                           placeholder="Add Omelet"
                           aria-describedby="AddOmeletButton">
        <span class="input-group-addon"
              id="AddOmeletButton">
            <button class="btn btn-primary btn-md"
                    ng-disabled="!omeletModel.inputText || editViewReference.isInEditingMode || universalDisable"
                    ng-click="addOmelet()">ADD TO OMELETS
            </button>
        </span>
                </div>
                <!--end of omelets add form-->


                <!--start of available omelets-->
                <h6>Available now</h6>

                <div class="table-responsive clearfix">
                    <table class="table table-striped table-hover ng-cloak">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="omelet in allOmelets">

                            <td>{{omelet.componentIndex}}</td>

                            <td ng-if="!editViewReference[omelet.componentIndex].componentEditingMode"
                                class="text-outputs">
                                {{omelet.name}}
                                <div class="pull-right">
                                    <button ng-class="editViewReference[omelet.componentIndex].editButtonClass"
                                            ng-click="editComponent(omelet.componentIndex)"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-pencil"></i> EDIT
                                    </button>
                                    <button ng-class="editViewReference[omelet.componentIndex].deleteButtonClass"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable"
                                            ng-click="deleteComponent(omelet.componentIndex, 'oo')">
                                        <i class="fa fa-times"></i> DELETE
                                    </button>
                                </div>
                            </td>

                            <td ng-if="editViewReference[omelet.componentIndex].componentEditingMode">
                                <!--omelet edit form-->
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="omelet.name"
                                           aria-describedby="EditOmeletButton">

                            <span class="input-group-addon" id="EditOmeletButton">

                                 <button ng-class="editViewReference[omelet.componentIndex].cancelButtonClass"
                                         ng-click="cancelComponentEdit(omelet.componentIndex,'oo')">
                                     CANCEL
                                 </button>

                                <button ng-class="editViewReference[omelet.componentIndex].saveButtonClass"
                                        ng-disabled='!omelet.name || universalDisable'
                                        ng-click="saveEditedOrderComponent(omelet.componentIndex,omelet.name, 'oo');">
                                    SAVE
                                </button>

                            </span>
                                </div>
                                <!--end of omelet edit form-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--end of available omelets-->
            </section>


            <section class="edit-section">

                <h5><strong>Weekly Specials</strong></h5>

                <!--weekly special add form-->
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="weeklySpecialModel.inputText"
                           placeholder="Add Weekly Special"
                           aria-describedby="AddWeeklySpecialButton">
        <span class="input-group-addon"
              id="AddWeeklySpecialButton">
            <button class="btn btn-primary btn-md"
                    ng-disabled="!weeklySpecialModel.inputText || editViewReference.isInEditingMode"
                    ng-click="addWeeklySpecial()">ADD TO WEEKLY SPECIALS
            </button>
        </span>
                </div>
                <!--end of weekly special add form-->

                <!--start of available weekly specials-->
                <h6>Available now</h6>

                <div class="table-responsive clearfix">
                    <table class="table table-striped table-hover ng-cloak">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="weeklySpecial in allWeeklySpecials">

                            <td>{{weeklySpecial.componentIndex}}</td>

                            <td ng-if="!editViewReference[weeklySpecial.componentIndex].componentEditingMode"
                                class="text-outputs">
                                {{weeklySpecial.name}}
                                <div class="pull-right">
                                    <button ng-class="editViewReference[weeklySpecial.componentIndex].editButtonClass"
                                            ng-click="editComponent(weeklySpecial.componentIndex)"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-pencil"></i> EDIT
                                    </button>
                                    <button ng-class="editViewReference[weeklySpecial.componentIndex].deleteButtonClass"
                                            ng-click="deleteComponent(weeklySpecial.componentIndex, 'ws')"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-times"></i> DELETE
                                    </button>
                                </div>
                            </td>

                            <td ng-if="editViewReference[weeklySpecial.componentIndex].componentEditingMode">
                                <!--weeklySpecial edit form-->
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="weeklySpecial.name"
                                           aria-describedby="EditWeeklySpecialButton">

                            <span class="input-group-addon" id="EditWeeklySpecialButton">

                                 <button ng-class="editViewReference[weeklySpecial.componentIndex].cancelButtonClass"
                                         ng-click="cancelComponentEdit(weeklySpecial.componentIndex,'ws')">
                                     CANCEL
                                 </button>

                                <button ng-class="editViewReference[weeklySpecial.componentIndex].saveButtonClass"
                                        ng-disabled='!weeklySpecial.name || universalDisable'
                                        ng-click="saveEditedOrderComponent(weeklySpecial.componentIndex,weeklySpecial.name, 'ws');">
                                    SAVE
                                </button>

                            </span>
                                </div>
                                <!--end of weeklySpecial edit form-->

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--end of available weekly specials-->
            </section>


            <section class="edit-section">

                <h5><strong>Extras</strong>
            <span>
                <small>e.g. Add Cheese</small>
            </span>
                </h5>

                <!--extras add form-->
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           ng-model="extraModel.inputText"
                           placeholder="Add Weekly Special"
                           aria-describedby="AddExtraButton">
        <span class="input-group-addon"
              id="AddExtraButton">
            <button class="btn btn-primary btn-md"
                    ng-disabled="!extraModel.inputText || editViewReference.isInEditingMode"
                    ng-click="addExtra()">ADD TO EXTRAS
            </button>
        </span>
                </div>
                <!--end of extras add form-->

                <!--start of available extras-->
                <h6>Available now</h6>

                <div class="table-responsive clearfix">
                    <table class="table table-striped table-hover ng-cloak">

                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Details</th>
                        </tr>

                        </thead>
                        <tbody>

                        <tr ng-repeat="extra in allExtras">

                            <td>{{extra.componentIndex}}</td>

                            <td ng-if="!editViewReference[extra.componentIndex].componentEditingMode"
                                class="text-outputs">
                                {{extra.name}}
                                <div class="pull-right">
                                    <button ng-class="editViewReference[extra.componentIndex].editButtonClass"
                                            ng-click="editComponent(extra.componentIndex)"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-pencil"></i> EDIT
                                    </button>
                                    <button ng-class="editViewReference[extra.componentIndex].deleteButtonClass"
                                            ng-click="deleteComponent(extra.componentIndex, 'oe')"
                                            ng-disabled="editViewReference.isInEditingMode || universalDisable">
                                        <i class="fa fa-times"></i> DELETE
                                    </button>
                                </div>
                            </td>

                            <td ng-if="editViewReference[extra.componentIndex].componentEditingMode">
                                <!--extra edit form-->
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="extra.name"
                                           aria-describedby="EditExtraButton">

                            <span class="input-group-addon" id="EditExtraButton">

                                 <button ng-class="editViewReference[extra.componentIndex].cancelButtonClass"
                                         ng-click="cancelComponentEdit(extra.componentIndex,'oe')">
                                     CANCEL
                                 </button>

                                <button ng-class="editViewReference[extra.componentIndex].saveButtonClass"
                                        ng-disabled='!extra.name || universalDisable'
                                        ng-click="saveEditedOrderComponent(extra.componentIndex,extra.name, 'oe');">
                                    SAVE
                                </button>

                            </span>
                                </div>
                                <!--end of weeklySpecial edit form-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--end of available extras-->
            </section>
        </div>
    </div>
</div>