<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12"
     ng-controller="IncomingController">
    <h1 class="column-heading"><i class="fa fa-list-alt"></i> INCOMING ORDERS
    </h1>

    <ul class="list-unstyled animated fadeIn">

        <li class="list-unstyled clearfix"
            ng-repeat="order in currentIncomingOrders">

            <div class="card">

                <div class="card-content">
                    <h2>{{order.momentJsTime}}<br/>
                        <small>{{order.theTimeAgo}}</small>
                    </h2>

                    <ul class="list-unstyled">

                        <li class="list-unstyled clearfix"
                            ng-repeat="component in order.orderComponents">
                            <input type="checkbox"
                                   ng-disabled="isLoading || universalDisable"
                                   ng-model="processedOrderModels[order.orderIndex][component]"
                                   ng-true-value="'yes'"
                                   ng-false-value="'no'"> {{allComponentsIndexNames[component]}}
                        </li>

                    </ul>

                </div>

                <div class="card-action clearfix">
                    <div class="pull-right">
                        <a href ng-click="markOrderAsDeclined(order.orderUniqueCuid, order.orderIndex)"
                           ng-disabled="isLoading || universalDisable"
                           class="btn btn-warning btn-md">
                            <i class="fa fa-times"></i> Decline
                        </a>
                        <a href ng-click="markOrderAsDone(order.orderUniqueCuid, order.orderIndex)"
                           ng-disabled="isLoading || universalDisable"
                           class="btn btn-success btn-md">
                            <i class="fa fa-check"></i> Done
                        </a>
                    </div>
                </div>
            </div>

        </li>

    </ul>
</div>