<section class="row">

    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <!--main order card-->
        <div main-order-jumbo></div>
        <!--end of main order card-->
        <!--start of your recent orders-->
        <div my-recent-orders></div>
        <!--end of your recent orders-->
    </div>

    <div class="col-lg-4 col-md-4 col-sm-5 hidden-xs">
        <!--start of recent order stream-->
        <div recent-order-stream></div>
        <!--end of recent orders stream-->
    </div>

</section>