<div class="text-center navbar navbar-default navbar-fixed-bottom hidden-xs hidden-sm">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-3">
                <p class="footer_group_heading">Contact Us</p>
                <ul class="list-unstyled">
                    <li><a href="mailto:admin@harvardgrill.com">admin@harvardgrill.com</a></li>
                    <li><a href="mailto:help@harvardgrill.com">help@harvardgrill.com</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Who we are</p>
                <ul class="list-unstyled">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Coverage</p>
                <ul class="list-unstyled">
                    <li><a href="#">Undergraduate</a></li>
                    <li><a href="#">Graduate</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer_group_heading">Developers</p>
                <ul class="list-unstyled">
                    <li><a href="#">Product Help</a></li>
                    <li><a href="#">Developer API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">© 2015 HarvardGrill</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="https://www.linkedin.com/in/jovinmwilanga/" target="_blank">
                    <i class="fa fa-copyright"></i> 2015 jbm Harvard '18</a>
                </li>
            </ul>
        </div>
    </div>
</div>
